.header {
    display: flex;
    // flex-direction: column;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #eee;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    // @media (min-width: 626px) {
    //     flex-direction: row;
    // }
}