.page-switcher {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;

    &__link {
        display: block;
        width: 50px;
        line-height: 16px;
        padding: 15px;
        border: 2px solid $main-color2;
        border-radius: 8px;
        margin: 0 3px;
        text-align: center;
        text-decoration: none;
        color: $font-color2;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        user-select: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background-color: $main-color2;
        }

        .page-switcher__arrow-icon {
            display: block;
            margin: -7px;
            width: 30px;
            height: 30px;
        }
    }

    &__current {
        height: 50px;
        margin: 0 17px 0 17px;
        line-height: 50px;
        color: $font-color2;
        font-size: 16px;
        font-weight: bold;
    }

    &__more {
        margin: 0 3px 0;
        font-size: 28px;
        line-height: 24px;
        letter-spacing: 1px;
        color: $font-color2;
    }

}